[Desktop Entry]
Version=1.0
Type=Application
Name=Lights
Comment=Launch Lights
Exec="/home/von/qt6 projects/Lights/build/Lights"
Icon=/home/von/qt6 projects/Lights/assets/lightbulb.svg
Terminal=false
Categories=Utility;
StartupNotify=true
StartupWMClass=Lights
